[submodule "backend"]
	path = backend
	url = https://github.com/coder-aditi05/internship-backend-.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/coder-aditi05/internship-frontend.git
