[submodule "backend"]
	path = backend
	url = https://github.com/coder-aditi05/internship-backend-.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/coder-aditi05/internship-frontend.git
[submodule "backend2"]
	path = backend2
	url = https://github.com/coder-aditi05/internship-backend-.git
[submodule "frontend2"]
	path = frontend2
	url = https://github.com/coder-aditi05/internship-frontend.git
